* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(242, 242, 242);
}

/*@media (max-width: 480px)/ {*/
    /*текст*/
    .pol {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
    }

    .pol div {


        border-radius: 21px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        background: rgb(248, 248, 248);



        font-size: 15px;
        color: rgb(0, 0, 0);
        font-family: "Open Sans", sans-serif;
        padding: 20px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-left: 5px;
    }

    div span {
        text-align: center;
        display: block;
        font-weight: 800;
    }

    div ok {
        font-size: 16px;
        font-weight: 600;
    }

    img {
        opacity: 1;
        margin: 0 auto;
        display: block;
    }

    .A { grid-area: a; }
    .B { grid-area: b; }
    .C { grid-area: c; }
    .D { grid-area: d; }
    .E { grid-area: e; }
    .F { grid-area: f; }
    .G { grid-area: g; }
/*}

/* Ссылки*/
a {
    color: rgb(146, 233, 244);
    text-decoration: none;
}

.bat {
    transition: transform 0.2s ease-in-out;
}
.bat:hover {
  transform: scale(1.01);
  cursor: pointer;
}

a:hover {
    color: rgb(191, 194, 255);
    text-decoration: underline;
    text-decoration-color: rgb(191, 194, 255);
    cursor: pointer;
}